<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas,
      repudiandae doloremque. Delectus, magni distinctio ducimus accusamus culpa
      doloremque quia ullam minus maiores alias nisi molestiae architecto
      recusandae laboriosam assumenda vitae!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
      reprehenderit nemo, deserunt omnis totam ab quisquam, ad quo incidunt non
      cum odit ex praesentium rem et dolorum expedita error modi!
    </p>
  </body>
</html>
